

td, th {
  width: 20px;
  height: 20px;
  background: lightblue;
  border: 1px solid black;
  text-align: center;
}

nav {
  display: flex;
  justify-content: end;
  margin: 20px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.596);
}
nav a {
  text-decoration: none;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: black;
}

body {
  max-width: 900px;
  margin: 0 auto;
  background-color: lightgray;
}

table {

  margin: 20px auto;
}

footer {
 text-align: center;
}